body {
    background-color: burlywood;
}

li {
    display:inline-block;
    text-align: center; 
    
}
 

img {
    max-width: 100px;
    border: 5px solid white;
    border-radius: 50px;
}

img:hover {
    color:gray;
    background-color:#2a69a6;
}

div {
    text-align: center;
}